# Ambientes virtuais
venv
env
.venv
**/venv/ 
**/venv

# Arquivos compilados
*.pyc
*.pyo
*.pyd
**/*.pyc
**/*.pyo
**/__pycache__/ 
**/__pycache__
__pycache__

# Arquivos temporários
*.log
*.tmp
*.bak

# Sistema de build do Python
*.egg-info/
dist/
build/
eggs/
develop-eggs/

# Arquivos do sistema
.DS_Store
Thumbs.db




**/data/ 
**/data

**/Legacy/
**/Legacy

#**/src/simulations/cma
**/src/simulations/cma2
**/src/simulations/rsa
**/src/simulations/rsa2
**/src/simulations/rsa_e
**/src/simulations/rsa_cut
**/src/simulations/tests

**/baseados

**/src/utils/

